body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    width: 113%;
    height: 100px;
    position: center;
    border: #69d114 2px solid;
}
.title{

    left: 140px;
    position: relative;
    color: rgb(19, 7, 7);
    left: 687px; 
}

.ejer-one{  
    width: 320px;
    height: 100px;
    border: #000000 2px solid;
    text-align: center;
    margin-top: 10px;
    margin-left: 40%;
    font-size: larger;
    background: #ececec;
    color: rgb(0, 0, 0);  
}

body{
    background: #f5f5f5;
}
.ejer-dos{
    margin-top: 30px;
    width: 400px;
    height: 180px;
    border: #8891d5 4px solid;
    left: 10px;
    position: relative;
    text-align: center;
    padding: 5px;
}
#base{
    margin-bottom: 10px;
    text-align: center;
    outline: none;
    border: red 3px solid;
}
#altura {
    margin-bottom: 10px;
    text-align: center;
    outline: none;
    border: red 3px solid;
}
#res{
    margin-top: 10px;
    width: 200px;
    height: 20px;
    background: #81c784;
    left: 100px;
    position: relative;
    padding: 2px;
}
.ejer-tres{
    margin-top: -6px;
    width: 400px;
    height: 180px;
    border: #8891d5 4px solid;
    left: 560px;
    top: -190px;
    position: relative;
    padding: 5px;
    text-align: center;
}
#raiz{

    width: 210px;
    height: 20px;
    border: red 3px solid;
    outline: none;
    text-align: center;
    margin-bottom: 10px;
    

}
#btn-raiz{
    width: 180px;
    height: 25px;
    cursor: pointer;
}
#result{
    padding: 2px;
    margin-top: 20px;
    width: 180px;
    height: 25px;
    background: #81c784;
    left: 110px;
    position: relative;
}
.ejer-cuatro{
    text-align: center;
    width: 400px;
    height: 180px;
    border: #8891d5 4px solid;
    left: 1100px;
    position: relative;
    top: -380px;
    
}

#palabra{
    text-align: center;
    width: 210px;
    height: 20px;
    border: red 3px solid;
    outline: none;
}
#btn-palabra{
    width: 180px;
    height: 25px;
    margin-top: 10px;
}
#result-palabra{
    width: 180px;
    height: 25px;
    background: #81c784;
    left: 110px;
    position: relative;
    margin-top: 20px;
}
.ejer-cinco{

    width: 1200px;
    height: 250px;
    border: red 3px solid;
    position: relative;
    top: -340px;
    left: 140px;
    text-align: center;

}
#impresion{
    margin-top: 10px;
    width: 200px;
    height: 25px;
    cursor: pointer;
}
